#template_main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  overflow: scroll;
  overflow-x: hidden;
  align-content: flex-start;
  padding-right: 5px;
  

  div {
    flex: 40%;
    margin: 5px;
    margin-bottom: 0px;
    margin-right: 0px;
    min-width: 120px;
    height: 100px;
    min-height: 100px;
    background-color: white;
    
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
      display: block;
      margin: 0 auto;

      &:hover {
        cursor: move;
      }
    }
  }



}