#three_container {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#three_container div {
    outline: none;
    border: 2px dashed rgba(0,0,0,.3);
}

#three_container .left {
    height: 100%;
    flex: 1;
    border-right: none;
}

#three_container .right {
    height: 100%;
    flex: 1;
    border-left: none;
}

.center {
    flex: 1;
    height: 100%;
}

